

#about {
    padding-bottom: 200px;
}

#about-content {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

#about-content img {
    width: 50%;
    background: aqua;
    margin-left: 15px;
    filter: grayscale(80%)
}

#about-text {
    width: 50%;
}

@media screen and (orientation: portrait) {
    #about-content {
        width: 75vw;
        display: initial;
    }

    #about-content img {
        width: 100%;
        margin-left: 0;
    }

    #about-text {
        width: 100%;
    }

    #about h2 {
        margin-left: 0;
    }
    
}