
#projects-title {
    font-size: 3.5rem;
    color: rgb(18, 151, 151);
    text-align: center;
}

.projects {
    padding-bottom: 400px;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.projects a {
    width: 300px;
    height: 300px;
    margin: 2vw;
    display: inline-block;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}