

#name {
    font-size: 7rem;
}
@media screen and (orientation: portrait) {
    #name {
        font-size: 15vw;
    }
}

.Main-Text {
    padding-bottom: 20vh;
    margin-top: 15vh;
}

.typed-text {
    overflow: hidden;
    width: 140px;
    border-right: .45em solid var(--text);
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 140px }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--text); }
}